```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
Thumbs.db

# Django
*.pot
*.po
*~
.db
.db.*
*.sqlite3
media/
staticfiles/
local_settings.py
celerybeat-schedule
.sass-cache/

# Migrations
*/migrations/*.py
!*/migrations/__init__.py
```